body {
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
}

:root {
  --primary-color: #6c63ff;
  --secondary-color: #b4accc;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin: auto;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  margin: 90px 60px 30px 60px;
}

h2 {
  font-size: 80px;
  font-family: "Dancing Script", cursive;
}

img {
  display: block;
  margin: auto;
  width: 500px;
}

#logo {
  width: 350px;
  padding: 50px;
}

.intro p {
  background: var(--secondary-color);
  opacity: 0.9;
  color: black;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.footer {
  font-family: monospace;
  text-align: center;
  color: grey;
}

h1 {
  margin: 90px 0px 30px 0px;
}

.mass {
  background-color: white;
  margin: 40px 80px 70px 80px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px;
}

.mass h3 {
  font-size: 50px;
  font-family: "Lobster Two", cursive;
  margin-bottom: 30px;
}

.mass img {
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mass p {
  margin-bottom: 35px;
  line-height: 2;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

.mass a {
  background-color: purple;
  padding: 10px 20px 10px 10px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.reception {
  background-color: white;
  margin: 40px 80px 40px 80px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px;
}
.reception h3 {
  font-size: 50px;
  font-family: "Lobster Two", cursive;
  margin-bottom: 30px;
}

.reception img {
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reception p {
  margin-bottom: 35px;
  line-height: 2;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

.reception a {
  background-color: purple;
  padding: 10px 20px 10px 10px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

a:hover {
  background-color: white;
  color: purple;
  border: solid 1px purple;
  transition: ease-in-out;
}
